[Unit]
Description=Prometheus exporter for ceph

[Service]
Restart=always
User=prometheus
ExecStart=/usr/bin/ceph_exporter
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
